body {
  background-color: rgb(224, 214, 196);
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: linear-gradient(90deg, #2f0a0a 0%, #a52a2a 50%, #2f0a0a 100%);
  box-shadow: 0px 5px 8px -3px rgba(0, 0, 0, 0.56);
  border-bottom: 1px solid black;
}

.header-bar__input {
  width: 240px;
  height: 30px;
  margin-right: 10px;
}
.header-bar__input:focus {
  outline: none;
}

.header-bar__btn{
  font-weight: 500;
  border-radius: 3px;
  border-color: transparent;
  background-color:orange;
  height: 30px;
  box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.header-bar__btn:active{
  background-color: rgb(196, 119, 26);
  color:gold;
}
