body {
  background-color: rgb(224, 214, 196);

}

main {
    padding: 15px 30px ;
}

a {
  text-decoration: none;
  display: inline-block;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: linear-gradient(90deg, #2f0a0a 0%, #a52a2a 50%, #2f0a0a 100%);
  box-shadow: 0px 5px 8px -3px rgba(0, 0, 0, 0.56);
  border-bottom: 1px solid black;
}

.header-bar__input {
  width: 240px;
  height: 30px;
  margin-right: 10px;
}
.header-bar__input:focus {
  outline: none;
}

.header-bar__btn{
  font-weight: 500;
  border-radius: 3px;
  border-color: transparent;
  background-color:orange;
  height: 30px;
  box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.header-bar__btn:active{
  background-color: rgb(196, 119, 26);
  color:gold;
}


.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.photo-card{
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 90px) / 4);


}

.gallery{
  margin-bottom: 30px;
  
}

.photo-card__image {
  display: block;
  max-width: 100%;
}

.info{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 10px;
  background-color: #e7dcdc;
  border: 1px solid black;
  border-top: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.info-item{
  display: flex;
  flex-direction: column;
}

.load-more{
  display: none;
  margin: auto;
  text-align: center;
  border-radius: 3px;
    border-color: transparent;
    background-color: rgb(29, 126, 252);
    height: 30px;
    box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.5);
}